.show-menu {

	.header {
		color: $black;


		.header__logo img {

			&:not(.hidden) {
				display: none;
			}

			&.hidden {
				display: block;
			}
		}

		.btn--search {
			svg {
				fill: $black;
			}
		}

		.nav a {
			color: $black;
		}

		.btn--cart {

			.badge {
				background-color: $black;
				color: $black;
			}

			svg {

				.basket-st0,
				.basket-st1 {
					stroke: $black;
				}
			}
		}

		.btn--burger .bar {
			background-color: $black;
		}
	}

	.menuBox {
		transform: translateX(0);
	}

	.btn--burger {
		transform: rotate(-45deg);
	}

	.header .slogan,
	.btn--cart {
		opacity: 0;
	}
}

.menuBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: calc(100vh - var(--browser-address-bar));
	z-index: 50;
	display: flex;
	flex-flow: column;
	padding-bottom: rem(155px);
	transform: translateX(100%);
	transition: .15s all ease-in-out;
	background-color: #fff;

	&:before {
		content: '';
		position: absolute;
		top: rem(30px);
		right: rem(30px);
		left: rem(30px);
		bottom: rem(30px);
		background-color: #eaecf0;
	}


	.nav {
		padding-top: rem(230px);
		position: relative;
	}

	.btn--search {
		display: block;
		text-align: center;
		margin-top: auto;

		svg {
			width: rem(54px);
			height: rem(54px);
		}
	}
}
