.nav {
	text-align: right;

	.menu__item:not(:first-child) {
		margin-top: 14px;
	}

	a:not(.btn) {
		font-size: 12px;
		letter-spacing: .25em;
	}

	.page__current {
		font-size: 16px;
		font-weight: 300;
		letter-spacing: .2em;
		text-transform: uppercase;
		white-space: nowrap;

		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
}
