.btn {
	position: relative;
	display: inline-block;
	border-radius: 0;
	border: 0;
	transition: .3s all;
	background-color: transparent;
	font-family: inherit;
}

.btn--primary {
	background-color: $black;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: .2em;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	@include r($xs-breakpoint) {
		padding: 5px;
		font-size: rem(30px);
	}

	&:hover {

	}

	&.btn--xs {
		font-size: 16px;
		padding: 9.5px 27px;
	}
}

.restore-item,
.wc-forward {
	background-color: $black;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: .2em;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	padding: 9.5px 27px;
}

.btn--secondary {
	border: 3px solid $black;
	color: $black;
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
	height: 73px;
	letter-spacing: .2em;
	padding: 0 30px;

	&:hover {

	}
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn--cart {

	i,
	svg,
	img {
		width: 46px;
		height: 36px;
		@include cover();
		display: inline-block;
		vertical-align: middle;

		@include r($xs-breakpoint) {
			width: rem(53px);
			height: rem(42px);
		}
	}

	.badge {
		margin-right: 23px;
		position: relative;
		top: 5px;

		@include r($xs-breakpoint) {
			position: absolute;
			margin-right: 0;
			top: auto;
			bottom: rem(-14px);
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.btn--return {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .2em;
	text-transform: uppercase;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 100%;
		margin-right: 18px;
		width: 65px;
		height: 1px;
		margin-top: -2px;
		background-color: $black;
	}
}

.btn--link {
	font-weight: 900;
	font-size: 16px;
	letter-spacing: .2em;
	text-transform: uppercase;

	@include r($xs-breakpoint) {
		font-size: rem(28px);
		letter-spacing: .3em;
	}

	&.btn--sm {
		font-size: 20px;

		@include r($xs-breakpoint) {
			font-size: rem(30px);
			background-color: $black;
			color: #fff;
			padding: rem(1px) rem(6px) rem(2px) rem(8px);
		}
	}

	&.btn--md {
		font-size: 20px;

		@include r($xs-breakpoint) {
			font-size: rem(30px);
			background-color: $black;
			color: #fff;
			padding: rem(1px) rem(6px) rem(2px) rem(8px);
		}
	}

	&.btn--white {
		color: #fff;
	}
}

.btn--burger {

	.bar {
		display: block;
		width: rem(52px);
		height: 1px;
		background-color: $black;

		&:not(:first-child) {
			margin-top: rem(12px);
		}
	}
}

.btn--back {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .2em;

	@include r($xs-breakpoint) {
		font-size: rem(22px);
	}

	svg {
		margin-right: 30px;
		width: 12px;
		height: 25px;

		@include r($xs-breakpoint) {
			width: rem(16px);
			height: rem(31px);
		}
	}
}

.btn--locked {
	background-image: url('../img/icons/locked.svg');
	width: 13px;
	height: 19px;
	@include cover();

	@include r($xs-breakpoint) {
		width: rem(21px);
		height: rem(32px);
	}
}

.btn--question {

	.badge {
		@include r($xs-breakpoint) {
			padding: 0;
			width: rem(30px);
			height: rem(30px);
			font-size: rem(20px);
		}
	}
}


.btn--search {

	svg {
		width: 26px;
		height: 26px;
	}
}
