.header {
	padding: 63px 0 45px;
	position: relative;
	z-index: 100;

	@include r($xs-breakpoint) {
		padding: rem(72px) 0 rem(56px);
	}

	.header__inner {
		display: flex;
		align-items: center;
	}
}

.header.header--white {
	color: #fff;

	.btn--search {
		svg {
			fill: #fff;
		}
	}

	.nav a {
		color: #fff;
	}

	.btn--cart {

		.badge {
			background-color: #fff;
			color: $black;
		}

		svg {

			.basket-st0,
			.basket-st1 {
				stroke: #fff;
			}
		}
	}

	.btn--burger .bar {
		background-color: #fff;
	}
}

.header__left {
	position: relative;

	.nav {
		position: absolute;
		top: 100%;
		left: 0;
		text-align: left;
		margin-top: 53px;

		@include r($xs-breakpoint) {
			//display: none;
			margin-top: rem(53px);


			.page__current {
				display: none;
			}
		}
	}
}

.header__logo {

	.hidden {
		display: none;
	}

	img {
		width: 99px;

		@include r($xs-breakpoint) {
			width: rem(86px);
		}
	}
}

.header__center {
	width: percentage(1438/1900);
	margin-left: percentage(98/1900);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;

	@include r(1650) {
		padding: 0 !important;
		width: percentage(1338/1900);
	}

	@include r($xs-breakpoint) {
		width: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		margin-left: 0;
		max-width: rem(288px);
		padding: 0;
	}

	.pageNav {

		@include r($xs-breakpoint) {
			display: none;
		}
	}
}

.sloganSecondary,
.slogan {
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .3em;

	@include r($xs-breakpoint) {
		font-size: rem(16px);
		line-height: rem(24px);
	}
}

.sloganSecondary {

	@include r($xs-breakpoint) {
		display: none;
	}
}

.header__right {
	margin-top: -11px;
	margin-left: auto;
	position: relative;
	text-align: right;
	display: flex;
	align-items: center;

	.btn--search {
		margin-right: 47px;
		margin-top: 10px;

		@include r($xs-breakpoint) {
			display: none;
		}
	}

	@include r($xs-breakpoint) {
		flex-flow: column;
		margin-top: rem(-5px);

		.btn--cart {
			position: absolute;
			top: 100%;
			margin-top: rem(64px);
		}
	}

	.nav {
		position: absolute;
		right: -7px;
		top: 100%;
		margin-top: 57px;

		@include r($xs-breakpoint) {
			display: none;
		}
	}
}
