.icon-arrow-left {
  width: 0.51em;
  height: 1em;
  fill: #010101;
}
.icon-cross {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-search {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
