.section--search {
	padding-bottom: 150px;
	min-height: calc(100vh - 161px);
	display: flex;
	align-items: center;
	justify-content: center;

	@include r($xs-breakpoint) {
		min-height: calc(100vh - 10.5625rem);
		padding-bottom: rem(270px);
	}

	.section__inner {
		//padding-top: 84px;

		@include r($xs-breakpoint) {
			padding-top: rem(76px);
		}
	}

	.error__subtitle {
		margin-bottom: 60px;

		@include r($xs-breakpoint) {
			margin-bottom: -20px;
		}
	}

}

.search__title {
	//font-size: 111px;
	font-size: 5.9vw;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.2em;

	@include r($xs-breakpoint) {
		font-size: rem(103px);
		line-height: rem(122px);
		padding: 0 rem(40px);
	}
}

.searchResult {
	margin-top: 45px;

	@include r($xs-breakpoint) {
		margin-top: rem(45px);
	}

	&__title {
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: .2em;
		text-align: center;
		//border-bottom: 1px solid #c8c8c8;
		max-width: 953px;
		margin: 0 auto;
		padding-bottom: 68px;

		@include r($xs-breakpoint) {
			border: 0;
			font-size: rem(25px);
			padding-bottom: rem(35px);
		}
	}

	&__list {
		display: flex;
		flex-flow: wrap;
		padding: 80px 40px;
		margin: 0 -100px;

		@include r($xs-breakpoint) {
			padding-bottom: rem(70px);
			padding-top: rem(70px);
		}

		li {
			width: 33.33%;
			padding: 0 100px;

			&:nth-child(n+4) {
				margin-top: 90px;

				@include r($xs-breakpoint) {
					margin-top: 0;
				}
			}

			@include r($xs-breakpoint) {
				width: 100%;

				&:not(:first-child) {
					margin-top: rem(63px);
				}
			}
		}
	}
}

.searchForm {

	&:not(:first-child) {
		margin-top: 14px;

		@include r($xs-breakpoint) {
			margin-top: rem(107px);
		}
	}
}

.form--search {
	max-width: 953px;
	margin: 0 auto;

	@include r($xs-breakpoint) {
		max-width: rem(605px);
	}

	.form__field {
		position: relative;
	}

	.btn--search {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 60px;
		text-align: center;

		@include r($xs-breakpoint) {
			width: rem(94px);
			text-align: right;
		}

		&:hover {

			svg {
				fill: $black;
			}
		}

		svg {
			width: 26px;
			height: 26px;
			transition: .3s all;
			fill: #aeaeae;

			@include r($xs-breakpoint) {
				width: rem(32px);
				height: rem(32px);
				position: relative;
				top: rem(-5px);
				fill: $black;
			}
		}
	}

	input {
		height: 95px;
		border-bottom: 1px solid $black;
		text-align: center;
		font-size: 18px;
		font-family: inherit;
		letter-spacing: .2em;
		width: 100%;

		@include r($xs-breakpoint) {
			font-size: rem(25px);
			height: rem(100px);
		}

		&::placeholder {
			text-transform: uppercase;
		}
	}
}

.search-no-results {

	.header__right .btn--cart,
	.header__center {
		display: none;
	}
}
